p {
    color: $grey;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justified;
}

.modal {
    .modal-body {
        padding: 60px 111px;
    }

}

.btn {
    background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 3px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 18px 30px;
    text-decoration: none;

    &:hover {
        color: #949EA0;
    }
}