.flower-description {
    margin-right: 100px;
    
    .row {
        border-bottom: 1px solid #E8E9ED;
    }

    &__left {
        margin-top: 100px;
        color: $grey;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: justified;
    }
    
    &__right {
        margin-top: 50px;
    }
}