header {
    padding: 20px 0;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.nav {
    li {
        padding: 0 30px;
        a {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: right;
            text-decoration: none;
            color: $grey;
            transition: 0.3s ease-in-out;

            &:hover {
                color: #545858;
            }
        }
    }
}

.profile-item {
    text-decoration: none;
    span {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: right;
        text-decoration: none;
        color: $grey;
        text-transform: none;
    }
    &__image {
        margin-left: 20px;
    }
}
