.other-flowers {
    margin-top: 50px;

    &__item {
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        margin-bottom: 41px;

        .flower-header {
            position: relative;
        }

        .flower-image {
            width: 100%;
        }

        .flower-location {
            position: absolute;
            padding: 6px 13px;
            background: #ffffff;
            box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            top: 20px;
            left: 20px;

            &__icon {
                width: 10px;
                height: 13px;
                margin-right: 10px;
            }
        
            &__name {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0px;
                text-align: left;
                color: #DF9186;
            }
        }
        .flower-content {
            background: #ffffff;
            padding: 20px;

            p {
                margin-bottom: 0;
            }

            .author-image {
                margin-right: 15px;
                height: 100%;
            }

            .flower-author {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0px;
                text-align: left;      
            }

            .post-author {
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0px;
                text-align: left;
                color: #949EA0;
            }

            &__text {
                border-bottom: 1px solid #E8E9ED;
                padding-bottom: 20px;
                margin-bottom: 20px;
                margin-top: 24px;
            }

            .post-comments,
            .post-favorites {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0px;
                text-align: justified;
                color: #949EA0;

                img {
                    margin-right: 10px;
                }
            }

            .post-comments {
                img {
                    height: 15px;
                    width: 16px;
                }
            }

            .post-favorites {
                img {
                    height: 15px;
                    width: 18px;
                }
            }
        }
    }
}